.Experience {
    background: rgb(55, 53, 53);
    font-size: 16px;
    color: rgb(64,64,64);
}

/* handled through section title */
/* .Experience > .title {
    font-size: 2rem;
    color: white;
    text-align: center;
} */

.Experience > .h3 {
    padding-top: 0.25em;
}

.date {
    color: white;
 }

 #description {
    margin: 1.5em 0 2em 0;
 }

 .button {
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    color: black;
 }

 .workButton {
    background-color: rgb(224, 151, 62);
 }

 .workButton:hover {
    background-color: rgb(178, 120, 50);
 }

 .schoolButton {
    background-color: rgb(65, 233, 191);
 }

 .schoolButton:hover {
    background-color: rgb(61, 182, 152);
 }

 @media only screen and (max-width: 1700px) {
    .vertical-timeline-element-date{
        display: block;
        float: none;
        color: rgb(95, 90, 90);
        margin-top:1.5em ;
    }
}
 

 
  

